* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h2 {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

/* Weather font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.map-container {
  width: 50vw;
  height: 50vh;
}